name: Get latest fangraphs projections

on:
  schedule:
    # Runs at 07:00 UTC (00:00 PDT / 01:00 PST) every day
    - cron: '0 7 * * *'
  workflow_dispatch: # Allows manual triggering

jobs:
  send-request:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: Random delay
        run: sleep $((RANDOM % 300))

      - name: POST to CORPSE generate API route
        run: |
          if [ -z "${{ secrets.CORPSE_API_TOKEN }}" ]; then
            echo "Token is empty!"
            exit 1
          else
            echo "Token is set"
          fi

          set -e

          curl -f --request POST \
            --url https://corpse-ii.vercel.app/api/v1/generate \
            --header "Authorization: Bearer ${{ secrets.CORPSE_API_TOKEN }}"

      - name: Check response
        if: failure()
        run: echo "Request failed"
