name: Get latest teams and players

on:
  schedule:
    # Runs at 30 min past the hour every hour
    - cron: '30 * * * *'
  workflow_dispatch: # Allows manual triggering

jobs:
  send-request:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: POST to CORPSE fetch-teams API route
        run: |
          if [ -z "${{ secrets.CORPSE_API_TOKEN }}" ]; then
            echo "Token is empty!"
            exit 1
          else
            echo "Token is set"
          fi

          set -e

          curl -f --request POST \
            --url https://corpse-ii.vercel.app/api/v1/fetch-teams \
            --header "Authorization: Bearer ${{ secrets.CORPSE_API_TOKEN }}"

      - name: Check response
        if: failure()
        run: echo "Request failed"
